{
  "extends": ["airbnb"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ]
  }
}
